/*
  Colour definitions
 */

$blue: #5BC0EB;
$yellow: #FDE74C;
$green: #9BC53D;
$red: #E55934;
$orange: #FA7921;
$offWhite: #fcfcfc;


/* Fonts definitions */
@mixin font1() {
	font-family: 'Didact Gothic', sans-serif;
}
@mixin font2() {
	font-family: 'Montserrat', sans-serif;
}
@mixin font3() {
	font-family: 'Open Sans', sans-serif;
}

/* Other mixins */
@mixin centerText() {
	text-align: center;
}

/* Fonts */
h1 {
	@include font2();
	font-size: calc(3rem + 2vw);
}

h2 {
	@include font2();
	font-size: calc(2rem + 0.5vw);
}

#enter-competition {
	@include font2();
	font-size: calc(1.8rem + 0.2vw);
}

body {
	color: $offWhite;
	@include font3();
	-webkit-font-smoothing: antialiased;
}

#weatherCondition {
	font-size: calc(3rem + 5vw);
}

#fp-nav ul li .fp-tooltip.right, #weatherCondition, #competition-form {
	@include font2();
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Colours */
body {
	color: $offWhite;
}

#fp-nav ul li a span {
	background-color: #ececec;
}

#fp-nav ul li a.active span {
	background-color: $offWhite;
}

#section1 {
	background-color: $blue;
	position: relative;
}
#section2 {
	background-color: $red;
}
#section3 {
	background-color: $green;
}
#sunnyCount, #weatherCondition, .wi-day-sunny {
	color: $yellow;
}

/* Position */
h1, h2, #weatherCondition, .wi-day-sunny {
	@include centerText();
}

#enter-competition {
	position: absolute;
	bottom: 100px;
	width: 100%;
	text-align: center;
}

#enter-competition a {
	border: 3px solid #f3f3f3;
	padding: 10px;
	color: $offWhite;
	font-weight: normal;
}

footer {
	height: 2em;
	position: fixed;
	z-index: 70;
	bottom: 0;
	width: 100%;
	text-align: right;
	font-size: 1em;
	padding: 8px;
	line-height: 1em;
}
